<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
  <title>Simple getting starter</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <!-- remember, jQuery is completely optional -->
  <!-- <script type='text/javascript' src='javascripts/jquery-1.12.0.js'></script> -->
  <script type='text/javascript' src='/javascripts/jquery.particleground.js'></script> 
  <script type='text/javascript' src='/javascripts/login.js'></script>
</head>

<body>

<div id="particles">
  <div id="intro">
        <img src="/image/BeagleBoardCompatible.png"  alt="logo"  width="200" height="200" top=50%;/>
  </div>
</div>

</body>
</html>