<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8" />
  <title>WIFI authentication</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <!-- remember, jQuery is completely optional -->
  <!-- <script type='text/javascript' src='javascripts/jquery-1.12.0.js'></script> -->
  <script type='text/javascript' src='/javascripts/jquery.particleground.js'></script> 
  <script type='text/javascript' src='/javascripts/login.js'></script>
  <script type='text/javascript' src="/javascripts/socket.io-1.4.5.js"></script>
  <script type='text/javascript' src="/javascripts/ssid.js"></script>
</head>

<body>

<div id="particles">
  <div id="intro">
    <p><font size=20 style="line-height:0.1">BeagleBone</font></p>
    <p>Good, you have connected the board, Please config your board wifi.</p>
        <div class="wrap" id='id_wrap'>
            <form class="login"  action="config?act=config" name="wifi_info" method="post">
                <select id='ssid' name="ssid" onclick='select_click()'>
                <option value="note">click to select ssid</option>
                </select>
                <input type="password" name="password" placeholder="Password" />
                <input type='submit'  class='btn' size="15"  style="background-color: transparent; border: 0;" name="submit" value="OK" onclick="btn_check(this.form)"/>
            </form>
        </div>
  </div>
</div>

</body>
</html>