<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8" />
  <title>Simple getting starter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <!-- remember, jQuery is completely optional -->
  <!-- <script type='text/javascript' src='javascripts/jquery-1.12.0.js'></script> -->
  <script type='text/javascript' src='/javascripts/jquery.particleground.js'></script> 
  <script type='text/javascript' src='/javascripts/login.js'></script>
</head>

<body>

<div id="particles">
  <div id="intro_img">
    <p><font size=20 style="line-height:0.1">Tips</font></p>
    <p>1,If your board didnt connect any SSID, Your board leds will show follow status, You can connect board AP now! </p>
     <img src="/image/start_s.gif"  alt="start" style="display:block;width:90%; margin-left:15px;"  top=50%;/>
    <p><br/><br/>2,If your board mobile connect the board AP, Your board leds will show follow status, You need set your board now! </p>
     <img src="/image/config_s.gif"  alt="config" style="display:block;width:90%; margin-left:15px;"  top=50%;/>
    <p><br/><br/>3,If the board connect AP error , Your board leds will show follow status, You can press your board USER button to reset! </p>     
     <img src="/image/error_s.gif"  alt="error"  style="display:block;width:90%; margin-left:15px;"  top=50%;/>
    <p>If your board connect network, you can visit your board by following URL,just http://your_board_id.lan or http://your_board_id.local </p>
    <p>windiows: http://beaglebone0000.lan</p>
    <p>mac or linux: http://beaglebone0000.local</p>
    <div class="wrap" id='id_wrap'>
         <!--- say something-->
         <form class="login"  action="last?act=last" name="wifi_info" method="post">
         <input type='submit'  class='btn' size="25"  style="background-color: transparent; border: 0;" name="submit" value="I Know" onclick="btn_check(this.form){return true;}"/>
         </form>
        </div>
  </div>
</div>

</body>
</html>