<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8" />
  <title>Simple getting starter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <!-- remember, jQuery is completely optional -->
  <!-- <script type='text/javascript' src='javascripts/jquery-1.12.0.js'></script> -->
  <script type='text/javascript' src='/javascripts/jquery.particleground.js'></script> 
  <script type='text/javascript' src='/javascripts/login.js'></script>
</head>

<body>

<div id="particles">
  <div id="intro">
    <p><font size=20 style="line-height:0.1">Beginning</font></p>
    <p>Good, you have connected the board, Please config your board wifi.</p>
        <div class="wrap" id='id_wrap'>
        </div>
  </div>
</div>

</body>
</html>